<%= render 'books/list', user: current_user %>
  <div class= "col-md-8 offset-md-1">
   <h2>Users</h2>
   <table class= "table table-hover table-inverse">
    <thead>
     <tr>
      <th class= "image">image</th>
      <th class= "name">name</th>
      <th class= "show"></th>
     </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
     <tr>
      <td>
        <%= image_tag user.get_profile_image(100, 100) %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td><%= link_to "show", user_path(user.id) %></td>
     </tr>
    </tbody>
    <% end %>
   </table>
  </div>
 </div>
</div>